.aatrox{
  background-image: url("../images/champs/aatrox.jpg");
  background-size: cover;
}
.ahri{
  background-image: url("../images/champs/ahri.jpg");
  background-size: cover;
}
.akali{
  background-image: url("../images/champs/akali.jpg");
  background-size: cover;
}
.alistar{
  background-image: url("../images/champs/alistar.jpg");
  background-size: cover;
}
.amumu{
  background-image: url("../images/champs/amumu.jpg");
  background-size: cover;
}
.anivia{
  background-image: url("../images/champs/anivia.jpg");
  background-size: cover;
}
.annie{
  background-image: url("../images/champs/annie.jpg");
  background-size: cover;
}
.ashe{
  background-image: url("../images/champs/ashe.jpg");
  background-size: cover;
}
.aurelionsol{
  background-image: url("../images/champs/aurelionsol.jpg");
  background-size: cover;
}
.azir{
  background-image: url("../images/champs/azir.jpg");
  background-size: cover;
}
.bardo{
  background-image: url("../images/champs/bardo.jpg");
  background-size: cover;
}
.blitzcrank{
  background-image: url("../images/champs/blitzcrank.jpg");
  background-size: cover;
}
.brand{
  background-image: url("../images/champs/brand.jpg");
  background-size: cover;
}
.braum{
  background-image: url("../images/champs/braum.jpg");
  background-size: cover;
}
.caitlyn{
  background-image: url("../images/champs/caitlyn.jpg");
  background-size: cover;
}
.camille{
  background-image: url("../images/champs/camille.jpg");
  background-size: cover;
}
.cassiopeia{
  background-image: url("../images/champs/cassiopeia.jpg");
  background-size: cover;
}
.chogath{
  background-image: url("../images/champs/chogath.jpg");
  background-size: cover;
}
.darius{
  background-image: url("../images/champs/darius.jpg");
  background-size: cover;
}
.diana{
  background-image: url("../images/champs/diana.jpg");
  background-size: cover;
}
.draven{
  background-image: url("../images/champs/draven.jpg");
  background-size: cover;
}
.drmundo{
  background-image: url("../images/champs/drmundo.jpg");
  background-size: cover;
}
.ekko{
  background-image: url("../images/champs/ekko.jpg");
  background-size: cover;
}
.elise{
  background-image: url("../images/champs/elise.jpg");
  background-size: cover;
}
.evelynn{
  background-image: url("../images/champs/evelynn.jpg");
  background-size: cover;
}
.ezreal{
  background-image: url("../images/champs/ezreal.jpg");
  background-size: cover;
}
.fiddlesticks{
  background-image: url("../images/champs/fiddlesticks.jpg");
  background-size: cover;
}
.fiora{
  background-image: url("../images/champs/fiora.jpg");
  background-size: cover;
}
.fizz{
  background-image: url("../images/champs/fizz.jpg");
  background-size: cover;
}
.galio{
  background-image: url("../images/champs/galio.jpg");
  background-size: cover;
}
.gangplank{
  background-image: url("../images/champs/gangplank.jpg");
  background-size: cover;
}
.garen{
  background-image: url("../images/champs/garen.jpg");
  background-size: cover;
}
.gnar{
  background-image: url("../images/champs/gnar.jpg");
  background-size: cover;
}
.gragas{
  background-image: url("../images/champs/gragas.jpg");
  background-size: cover;
}
.graves{
  background-image: url("../images/champs/graves.jpg");
  background-size: cover;
}
.hecarim{
  background-image: url("../images/champs/hecarim.jpg");
  background-size: cover;
}
.heimerdinger{
  background-image: url("../images/champs/heimerdinger.jpg");
  background-size: cover;
}
.illaoi{
  background-image: url("../images/champs/illaoi.jpg");
  background-size: cover;
}
.irelia{
  background-image: url("../images/champs/irelia.jpg");
  background-size: cover;
}
.ivern{
  background-image: url("../images/champs/ivern.jpg");
  background-size: cover;
}
.janna{
  background-image: url("../images/champs/janna.jpg");
  background-size: cover;
}
.jarvaniv{
  background-image: url("../images/champs/jarvaniv.jpg");
  background-size: cover;
}
.jax{
  background-image: url("../images/champs/jax.jpg");
  background-size: cover;
}
.jayce{
  background-image: url("../images/champs/jayce.jpg");
  background-size: cover;
}
.jhin{
  background-image: url("../images/champs/jhin.jpg");
  background-size: cover;
}
.jinx{
  background-image: url("../images/champs/jinx.jpg");
  background-size: cover;
}
.kalista{
  background-image: url("../images/champs/kalista.jpg");
  background-size: cover;
}
.karma{
  background-image: url("../images/champs/karma.jpg");
  background-size: cover;
}
.karthus{
  background-image: url("../images/champs/karthus.jpg");
  background-size: cover;
}
.kassadin{
  background-image: url("../images/champs/kassadin.jpg");
  background-size: cover;
}
.katarina{
  background-image: url("../images/champs/katarina.jpg");
  background-size: cover;
}
.kayle{
  background-image: url("../images/champs/kayle.jpg");
  background-size: cover;
}
.kennen{
  background-image: url("../images/champs/kennen.jpg");
  background-size: cover;
}
.khazix{
  background-image: url("../images/champs/khazix.jpg");
  background-size: cover;
}
.kindred{
  background-image: url("../images/champs/kindred.jpg");
  background-size: cover;
}
.kled{
  background-image: url("../images/champs/kled.jpg");
  background-size: cover;
}
.kogmaw{
  background-image: url("../images/champs/kogmaw.jpg");
  background-size: cover;
}
.leblanc{
  background-image: url("../images/champs/leblanc.jpg");
  background-size: cover;
}
.leesin{
  background-image: url("../images/champs/leesin.jpg");
  background-size: cover;
}
.leona{
  background-image: url("../images/champs/leona.jpg");
  background-size: cover;
}
.lissandra{
  background-image: url("../images/champs/lissandra.jpg");
  background-size: cover;
}
.lucian{
  background-image: url("../images/champs/lucian.jpg");
  background-size: cover;
}
.lulu{
  background-image: url("../images/champs/lulu.jpg");
  background-size: cover;
}
.lux{
  background-image: url("../images/champs/lux.jpg");
  background-size: cover;
}
.maestroyi{
  background-image: url("../images/champs/maestroyi.jpg");
  background-size: cover;
}
.malphite{
  background-image: url("../images/champs/malphite.jpg");
  background-size: cover;
}
.malzahar{
  background-image: url("../images/champs/malzahar.jpg");
  background-size: cover;
}
.maokai{
  background-image: url("../images/champs/maokai.jpg");
  background-size: cover;
}
.missfortune{
  background-image: url("../images/champs/missfortune.jpg");
  background-size: cover;
}
.mordekaiser{
  background-image: url("../images/champs/mordekaiser.jpg");
  background-size: cover;
}
.morgana{
  background-image: url("../images/champs/morgana.jpg");
  background-size: cover;
}
.nami{
  background-image: url("../images/champs/nami.jpg");
  background-size: cover;
}
.nasus{
  background-image: url("../images/champs/nasus.jpg");
  background-size: cover;
}
.nautilus{
  background-image: url("../images/champs/nautilus.jpg");
  background-size: cover;
}
.nidalee{
  background-image: url("../images/champs/nidalee.jpg");
  background-size: cover;
}
.nocturne{
  background-image: url("../images/champs/nocturne.jpg");
  background-size: cover;
}
.nunu{
  background-image: url("../images/champs/nunu.jpg");
  background-size: cover;
}
.olaf{
  background-image: url("../images/champs/olaf.jpg");
  background-size: cover;
}
.orianna{
  background-image: url("../images/champs/orianna.jpg");
  background-size: cover;
}
.pantheon{
  background-image: url("../images/champs/pantheon.jpg");
  background-size: cover;
}
.poppy{
  background-image: url("../images/champs/poppy.jpg");
  background-size: cover;
}
.quinn{
  background-image: url("../images/champs/quinn.jpg");
  background-size: cover;
}
.rammus{
  background-image: url("../images/champs/rammus.jpg");
  background-size: cover;
}
.reksai{
  background-image: url("../images/champs/reksai.jpg");
  background-size: cover;
}
.renekton{
  background-image: url("../images/champs/renekton.jpg");
  background-size: cover;
}
.rengar{
  background-image: url("../images/champs/rengar.jpg");
  background-size: cover;
}
.riven{
  background-image: url("../images/champs/riven.jpg");
  background-size: cover;
}
.rumble{
  background-image: url("../images/champs/rumble.jpg");
  background-size: cover;
}
.ryze{
  background-image: url("../images/champs/ryze.jpg");
  background-size: cover;
}
.sejuani{
  background-image: url("../images/champs/sejuani.jpg");
  background-size: cover;
}
.shaco{
  background-image: url("../images/champs/shaco.jpg");
  background-size: cover;
}
.shen{
  background-image: url("../images/champs/shen.jpg");
  background-size: cover;
}
.shyvana{
  background-image: url("../images/champs/shyvana.jpg");
  background-size: cover;
}
.singed{
  background-image: url("../images/champs/singed.jpg");
  background-size: cover;
}
.sion{
  background-image: url("../images/champs/sion.jpg");
  background-size: cover;
}
.sivir{
  background-image: url("../images/champs/sivir.jpg");
  background-size: cover;
}
.skarner{
  background-image: url("../images/champs/skarner.jpg");
  background-size: cover;
}
.sona{
  background-image: url("../images/champs/sona.jpg");
  background-size: cover;
}
.soraka{
  background-image: url("../images/champs/soraka.jpg");
  background-size: cover;
}
.swain{
  background-image: url("../images/champs/swain.jpg");
  background-size: cover;
}
.syndra{
  background-image: url("../images/champs/syndra.jpg");
  background-size: cover;
}
.tahmkench{
  background-image: url("../images/champs/tahmkench.jpg");
  background-size: cover;
}
.taliyah{
  background-image: url("../images/champs/taliyah.jpg");
  background-size: cover;
}
.talon{
  background-image: url("../images/champs/talon.jpg");
  background-size: cover;
}
.taric{
  background-image: url("../images/champs/taric.jpg");
  background-size: cover;
}
.teemo{
  background-image: url("../images/champs/teemo.jpg");
  background-size: cover;
}
.thresh{
  background-image: url("../images/champs/thresh.jpg");
  background-size: cover;
}
.tristana{
  background-image: url("../images/champs/tristana.jpg");
  background-size: cover;
}
.trundle{
  background-image: url("../images/champs/trundle.jpg");
  background-size: cover;
}
.tryndamere{
  background-image: url("../images/champs/tryndamere.jpg");
  background-size: cover;
}
.twistedfate{
  background-image: url("../images/champs/twistedfate.jpg");
  background-size: cover;
}
.twitch{
  background-image: url("../images/champs/twitch.jpg");
  background-size: cover;
}
.udyr{
  background-image: url("../images/champs/udyr.jpg");
  background-size: cover;
}
.urgot{
  background-image: url("../images/champs/urgot.jpg");
  background-size: cover;
}
.varus{
  background-image: url("../images/champs/varus.jpg");
  background-size: cover;
}
.vayne{
  background-image: url("../images/champs/vayne.jpg");
  background-size: cover;
}
.veigar{
  background-image: url("../images/champs/veigar.jpg");
  background-size: cover;
}
.velkoz{
  background-image: url("../images/champs/velkoz.jpg");
  background-size: cover;
}
.vi{
  background-image: url("../images/champs/vi.jpg");
  background-size: cover;
}
.viktor{
  background-image: url("../images/champs/viktor.jpg");
  background-size: cover;
}
.vladimir{
  background-image: url("../images/champs/vladimir.jpg");
  background-size: cover;
}
.volibear{
  background-image: url("../images/champs/volibear.jpg");
  background-size: cover;
}
.warwick{
  background-image: url("../images/champs/warwick.jpg");
  background-size: cover;
}
.wukong{
  background-image: url("../images/champs/wukong.jpg");
  background-size: cover;
}
.xerath{
  background-image: url("../images/champs/xerath.jpg");
  background-size: cover;
}
.xinzhao{
  background-image: url("../images/champs/xinzhao.jpg");
  background-size: cover;
}
.yasuo{
  background-image: url("../images/champs/yasuo.jpg");
  background-size: cover;
}
.yorick{
  background-image: url("../images/champs/yorick.jpg");
  background-size: cover;
}
.zac{
  background-image: url("../images/champs/zac.jpg");
  background-size: cover;
}
.zed{
  background-image: url("../images/champs/zed.jpg");
  background-size: cover;
}
.ziggs{
  background-image: url("../images/champs/ziggs.jpg");
  background-size: cover;
}
.zilean{
  background-image: url("../images/champs/zilean.jpg");
  background-size: cover;
}
.zyra{
  background-image: url("../images/champs/zyra.jpg");
  background-size: cover;
}


/*nuevos*/
.xayah{
  background-image: url("../images/champs/xayah.jpg");
  background-size: cover;
}
.rakan{
  background-image: url("../images/champs/xayah.jpg");
  background-size: cover;
}
.kayn{
  background-image: url("../images/champs/kayn.jpg");
  background-size: cover;
}
.ornn{
  background-image: url("../images/champs/ornn.jpg");
  background-size: cover;
}
.zoe{
  background-image: url("../images/champs/zoe.jpg");
  background-size: cover;
}
